/*=============== RESPONSIVE CSS ===============*/

/* Pour les appareils moyens (tablettes) */
@media screen and (min-width: 576px) {
  .cabinet__gallery {
      grid-template-columns: repeat(3, 1fr);
  }
  .team__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .modal__content {
    width: auto;
  }
  .footer__content {
      grid-template-columns: repeat(3, 1fr);
  }
}

/* Pour les grands appareils (ordinateurs portables, desktops) */
@media screen and (min-width: 768px) {
  .nav {
    height: calc(4rem + 2.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close,
  .dropdown__icon {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__actions {
      gap: 1rem;
  }
  
  .megamenu {
      /* Cache le megamenu sur mobile, mais on le laisse visible sur desktop */
      display: block;
  }

  .hero__container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem;
  }
  .hero__data {
    text-align: left;
  }
  .hero__logo {
      margin-left: 0;
  }

  .service-details__wrapper {
    margin-top: 3rem;
  }

  .service-details__container.active {
    display: flex; /* Utiliser flexbox sur les grands écrans */
    flex-direction: row;
    gap: 2.5rem;
    align-items: stretch; /* Pour que les enfants aient la même hauteur */
    padding: 2.5rem 3rem;
  }

  .service-details__image {
    flex-shrink: 0; /* Empêche l'image de se réduire */
    width: 360px; /* Largeur fixe pour l'image */
    height: auto; /* La hauteur s'adapte au ratio */
    aspect-ratio: 3 / 4; /* Ratio plus vertical pour desktop */
  }

  .service-details__nav {
    left: 50%;
    transform: translate(-50%);
    bottom: -1.2rem;
  }

  .service-details__footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .team__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .techniques__wrapper {
    grid-template-columns: 1.2fr 1fr;
  }

  .techniques__content-cards {
    grid-template-columns: 1fr 1fr;
  }

  .cabinet__container {
      grid-template-columns: 1fr 1.5fr;
      align-items: center;
  }

  .contact__container {
      grid-template-columns: 2fr 3fr;
      align-items: flex-start; 
  }

  .service-hero__container {
      grid-template-columns: 1.2fr 1fr;
      gap: 3rem;
  }
  .service-hero__image img {
      margin-top: 0;
  }

  .service-content__container {
      grid-template-columns: 2fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 4rem 0;
  }
  .team__container {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer__container {
      grid-template-columns: .5fr repeat(3, 1fr);
      justify-content: space-between;
  }
  .footer__content {
      grid-template-columns: repeat(3, max-content);
  }

  .scrollup {
    right: 3rem;
  }
}