/*=============== RESPONSIVE CSS ===============*/

/* Pour les appareils moyens (tablettes) */
@media screen and (min-width: 576px) {
  .cabinet__gallery {
      grid-template-columns: repeat(3, 1fr);
  }
  .team__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .modal__content {
    width: auto;
  }
  .footer__content {
      grid-template-columns: repeat(3, 1fr);
  }
}

/* Pour les écrans plus petits, on peut passer à une seule colonne */
@media screen and (max-width: 768px) {
    .service-details__footer {
        grid-template-columns: 1fr;
    }
}


/* Pour les grands appareils (ordinateurs portables, desktops) */
@media screen and (min-width: 768px) {
  .dropdown__icon {
    display: inline-block; /* Affiche la flèche sur desktop */
  }
  .nav {
    height: calc(4rem + 2.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__actions {
      gap: 1rem;
  }
  
  .megamenu {
      /* Cache le megamenu sur mobile, mais on le laisse visible sur desktop */
      display: block;
  }

  .hero__container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem;
  }
  .hero__data {
    text-align: left;
  }
  .hero__logo {
      margin-left: 0;
  }

  .service-details__container {
      grid-template-columns: 400px 1fr;
      align-items: stretch;
      padding: 2.5rem 2.5rem 2.5rem 0;
  }
  .service-details__image {
      display: block;
      min-width: 400px;
      max-width: 420px;
      margin-top: -2rem;
      margin-left: -2rem;
      margin-bottom: -2rem;
      margin-right: 0;
      aspect-ratio: 3 / 4;
  }

  .team__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .cabinet__container {
      grid-template-columns: 1fr 1.5fr;
      align-items: center;
  }

  .contact__container {
      grid-template-columns: 2fr 3fr;
      align-items: flex-start; 
  }

  .service-hero__container {
      grid-template-columns: 1.2fr 1fr;
      gap: 3rem;
  }
  .service-hero__image img {
      margin-top: 0;
  }

  .service-content__container {
      grid-template-columns: 2fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 4rem 0;
  }
  .team__container {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer__container {
      grid-template-columns: .5fr repeat(3, 1fr);
      justify-content: space-between;
  }
  .footer__content {
      grid-template-columns: repeat(3, max-content);
  }

  .scrollup {
    right: 3rem;
  }
}